counters
config.ini
settings/Trach.ahk
settings/bind.ahk
settings/triggers.ahk
code/admin.ahk
code/bindings.example.json
code/bindings.json
code/commands.json
code/icon_64.ico
code/keys.json
code/logo.png
code/triggers.json