counters
code/Trach.ahk
code/bind.ahk
code/triggers.ahk
code/admin.ahk
code/bindings.example.json
code/bindings.json
code/commands.json
code/icon_64.ico
code/keys.json
code/logo.png
code/triggers.json
code/JSON.ahk
gui.ahk
timer.ahk
Untitled-1.ini
code/kozma.ahk